@charset "UTF-8";
/* CSS Document */

body {

	font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
	background: #dddddd;
	color: #00a1e9;
	margin: 0 0 0 0;
}

h1 {
	font-size: 18px;
}

/* ラッパー設定・中央揃え */
.wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 20px;
	background: #ffffff;
}

/* 各フォーム装飾設定 */
.name_input {
	width:300px;
	padding:10px;
	font-size:16px;
	border:solid 1px #ccc;
	border-radius: 3px;
}

.address_select {
	width:260px;
	height: 60px;
	padding:10px;
	font-size:16px;
	border:solid 1px #ccc;
	border-radius: 3px;
}

.textarea {
	width:400px;
	height: 200px;
	padding:10px;
	font-size:16px;
	border:solid 1px #ccc;
	border-radius: 3px;
}

.submit_btn {
	width:100px;
	height: 60px;
	font-size:16px;
	color: #00a1e9;
	border:solid 1px #ccc;
	border-radius: 3px;
	background-color: #fff;
	cursor: pointer;
  box-shadow: 3px 3px 2px #000;
}

.submit_btn:hover{
  box-shadow: none;
  margin-top: 3px;
  margin-left: 3px;
}
.btn {
	width: 600px;
	margin-top: 40px;
	text-align: right;
}

dl {
	border-bottom: 1px solid #eee;
	padding: 20px 0;
	margin: 0;
}
dt, dd {
	display: table-cell; /*セルの横並び*/
	vertical-align: middle; /*上下中央並び*/
}
dt { /*左タイトル*/
	width: 200px;
	color: #999;
}
