@charset "UTF-8";

.color{
    background-color: #fff;
}

.view_container_wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}

.fav_box{
    display: inline-block;
    padding: 8px;
    background-color: #fff;
}

.fav_icon{
    display: inline-block;
}

.view_left{
    width: 40%;

}

.view_right{
    width: 50%;
}

.view_icon{
    width: 100%;
    background-color: #fff;
}



.view_title{
    font-weight: bold;
}

.view_right table{
    width: 100%;

}

tr{
    width: 100%;

}

th,td{
    padding-bottom: 30px;
    font-weight: normal;
}



.view_buy_button{
    width: 200px;
    height: 60px;
    line-height: 60px;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #000;
    color:#fff;
    margin-bottom: 40px;
}

.view_infomation{
    background-color: #DFE2E6;
    padding: 16px;
    margin-bottom: 80px;
    overflow-wrap:break-word;
}



.view_more{
    width: 200px;
    height: 40px;
    line-height: 40px;
    display: block;
    background-color: #DFE2E6;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 120px;
    font-weight:300;
}





